<!-- Changelog

* 2019 March 07 1130 Ankur Sinha
- Add links for W1 and W10

* 2019 March 07 1124 Ankur Sinha
- Remove links from reference ids
- Comment out links from workshop titles
- Add note stating this list is preliminary

* 2019 Mar 06 1811 Ankur Sinha
- Update initial list

-->
<h1 style="text-align: left;">CNS*2019 Barcelona: Workshops Program</h1>
<blockquote>
  <p style="text-align: left;">This is the list of workshops to be held at CNS*2019. This page will be updated as more information becomes available. Please check back regularly for updates.</p>
  <p style="text-align: left;">For inquiries related to these workshops, please contact the workshop coordinator at <a href="mailto:workshops@cnsorg.org">workshops@cnsorg.org</a>, or the individual workshop organizers listed below.</p>
</blockquote>
<a name="top"></a>
<!--
<h2>Location</h2>
<p>
  <span>
    Registration and most workshops will be held at the <a href="http://www.alleninstitute.org/events-training/getting-allen-institute/"> Allen Institute</a>. Some workshops will be assigned to nearby <a href="https://mohai.org/visit/#plan-a-visit"> MOHAI</a> and <a href="https://www.uwmedicine.org/research/sites-facilities/slu/maps-contacts"> UW Medicine at South Lake Union</a>. 
    <strong>Attendees must wear conference badges at all locations</strong>. Attendees who haven’t registered prior to workshop day one <strong>should begin with registration at the Allen Institute</strong>, obtain a conference badge, then depart for any workshops at other locations. Leave ten minutes for walking between Allen Institute and MOHAI or UW Medicine. Event staff will be on-site at all locations to answer questions.
  </span>
</p>
<h2><span>Room assignments</span></h2>
<a name="AI"></a>
<table style="width: 100%;" border="0">
  <tbody>
  <tr><th>{% WORKSHOP LOCATION 1 %}</th></tr>
    <tr>
      <td style="width: 25%; background-color: #eff8fd; text-align: center;"><strong>Auditorium</strong></td>
      <td style="background-color: #ffffff;" colspan="6">
        <ul>
          <li><a style="font-size: 15px;" href="http://lizier.me/joseph/conferences/201807-CNS2018-ITW/" target="_blank">Methods of Information Theory in Computational Neuroscience</a></li>
        </ul>
      </td>
    </tr>
  </tbody>
</table>
-->
<!--
<h2><br />Schedule</h2>
<table style="width: 100%;" border="0">
  <tbody>
    <tr><th>July 17th (Tuesday)</th></tr>
    <tr><th> Location</th><th>AI</th><th>AI</th><th>MOHAI</th><th>AI</th><th>AI</th><th>UW</th></tr>
    <tr>
      <td style="width: 5%;">08.00 - 18.00</td>
      <td style="background-color: #d3d3d3; text-align: center;" colspan="6"><strong>Registration <strong>at the Allen Institute Lobby </strong></strong></td>
    </tr>
    <tr>
      <td style="width: 5%;">08.15 - 09.00</td>
      <td style="background-color: #d3d3d3; text-align: center;" colspan="6"><strong><strong>Coffee available in Allen Institute Atrium &amp; UW Medicine &amp; MOHAI </strong></strong></td>
    </tr>
    <tr>
      <td style="width: 5%;">09.00 - 12.30</td>
      <td style="background-color: #ccff33; text-align: center;"><a href="http://lizier.me/joseph/conferences/201807-CNS2018-ITW/" target="_blank">Methods of Information Theory in Computational Neuroscience</a></td>
      <td style="background-color: #ffccff; text-align: center;"><a href="http://www.treestoolbox.org/CNS2018_dendrites_workshop/index.html">Neuronal morphology and structure</a></td>
      <td style="background-color: #ffcc66; text-align: center;"><a href="https://sites.google.com/site/cns2018connectome/" target="_blank">Bridging Spatial and Temporal Scales in Brain Connectomics</a></td>
      <td style="background-color: #add8e6; text-align: center;"><a href="http://www.cns.nyu.edu/~byrne/CNS2018workshop.html" target="_blank">Models for perceiving and learning time intervals and rhythms</a></td>
      <td style="text-align: center; background-color: #ffff00;"> <a href="http://www.opensourcebrain.org/docs/Help/Meetings#CNS_2018" target="_blank">Developing, standardising and sharing large scale cortical network models</a></td>
      <td style="background-color: #feb7a3; text-align: center;"><a href="http://labs.ni.gsu.edu/gcymbalyuk/WorkshopCNS2018.htm" target="_blank">Dynamics of Rhythm Generation</a></td>
    </tr>
    <tr>
      <td style="width: 5%;">12.30 - 14.00</td>
      <td style="background-color: #d3d3d3; text-align: center;" colspan="6"><strong>Lunch break</strong></td>
    </tr>
    <tr>
      <td style="width: 5%;">14.00 - 18.00<strong>*</strong></td>
      <td style="background-color: #ccff33; text-align: center;"><a href="http://lizier.me/joseph/conferences/201807-CNS2018-ITW/" target="_blank">Methods of Information Theory in Computational Ne</a><a style="font-size: 15px;" href="http://lizier.me/joseph/conferences/201807-CNS2018-ITW/" target="_blank">uroscience</a></td>
      <td style="background-color: #ffccff; text-align: center;"><a href="http://www.treestoolbox.org/CNS2018_dendrites_workshop/index.html">Neuronal morphology and structure</a><a href="mailto:joseph.lizier@sydney.edu.au"></a></td>
      <td style="background-color: #ffcc66; text-align: center;"><a href="https://sites.google.com/site/cns2018connectome/" target="_blank">Bridging Spatial and Temporal Scales in Brain Connectomics</a></td>
      <td style="background-color: #add8e6; text-align: center;"><a href="http://www.cns.nyu.edu/~byrne/CNS2018workshop.html" target="_blank">Models for perceiving and learning time intervals and rhythms</a></td>
      <td style="text-align: center; background-color: #90ee90;"> <a href="http://www.nsgportal.org/NSG_CNS2018_Workshop.web.htm" target="_blank">Neuroscience Gateway and Large Scale Neural Systems Simulations and Tools</a></td>
      <td style="background-color: #feb7a3; text-align: center;"><a href="http://labs.ni.gsu.edu/gcymbalyuk/WorkshopCNS2018.htm" target="_blank">Dynamics of Rhythm Generation</a></td>
    </tr>
  </tbody>
</table>
<p> </p>
<table style="width: 100%;" border="0">
  <tbody>
    <tr><th>July 18th (Wednesday)</th></tr>
    <tr><th> Location</th><th>AI</th><th>AI</th><th>AI</th><th>UW</th><th>AI</th></tr>
    <tr>
      <td style="width: 5%;">08.00 - 18.00</td>
      <td style="background-color: #d3d3d3; text-align: center;" colspan="5"><strong>Registration <strong>at the Allen Institute Lobby </strong><strong><br /></strong></strong></td>
    </tr>
    <tr>
      <td style="width: 5%;">08.15 - 09.00</td>
      <td style="background-color: #d3d3d3; text-align: center;" colspan="6"><strong><strong>Coffee available in Allen Institute Atrium &amp; UW Medicine &amp; MOHAI </strong></strong></td>
    </tr>
    <tr>
      <td style="width: 5%;"><span>09.00 - 12.30</span></td>
      <td style="background-color: #ccff00;">
        <p style="text-align: center;"><a href="http://lizier.me/joseph/conferences/201807-CNS2018-ITW/" target="_blank">Methods of Information Theory in Computational Neuroscience</a></p>
      </td>
      <td style="background-color: #fffff0; text-align: center;"><a href="mailto:joseph.lizier@sydney.edu.au"></a><a href="http://biocomputation.herts.ac.uk/pages/09-CNS18-workshop.html">Insight gained by detailed dendritic modeling</a></td>
      <td style="background-color: #eff8fd; text-align: center;"><a href="http://www.nvri.org.au/events.php/40/cns2018-workshop-integrative-theories-of-cortical-function" target="_blank">Integrative Theories of Cortical Function</a></td>
      <td style="background-color: #d2b48c; text-align: center;"><a href="https://rainerengelken.github.io/cns2018workshop/" target="_blank">How does learning reshape the dimensionality of collective network activity?</a></td>
      <td style="background-color: #f5f5f5; text-align: center;"><a href="https://cognitivemodels.wordpress.com/" target="_blank"><span>Towards new models for cognitive flexibility</span></a></td>
    </tr>
    <tr>
      <td style="width: 5%;">12.30 - 14.00</td>
      <td style="background-color: #d3d3d3; text-align: center;" colspan="5"><strong>Lunch break</strong></td>
    </tr>
    <tr>
      <td style="width: 5%;"><span>14.00 - 18.00<strong>*</strong></span></td>
      <td style="background-color: #ccff00; text-align: center;"><a href="http://lizier.me/joseph/conferences/201807-CNS2018-ITW/" target="_blank">Methods of Information Theory in Computational Neuroscience</a></td>
      <td style="background-color: #fffff0; text-align: center;"><a href="http://biocomputation.herts.ac.uk/pages/09-CNS18-workshop.html">Insight gained by detailed dendritic modeling</a><a href="mailto:joseph.lizier@sydney.edu.au"></a></td>
      <td style="background-color: #eff8fd; text-align: center;"><a href="http://www.nvri.org.au/events.php/40/cns2018-workshop-integrative-theories-of-cortical-function" target="_blank">Integrative Theories of Cortical Function</a></td>
      <td style="background-color: #d2b48c; text-align: center;"><a href="https://rainerengelken.github.io/cns2018workshop/" target="_blank">How does learning reshape the dimensionality of collective network activity?</a></td>
      <td style="background-color: #f5f5f5; text-align: center;"><a href="https://cognitivemodels.wordpress.com/" target="_blank"><span>Towards new models for cognitive flexibility</span></a></td>
    </tr>
  </tbody>
</table>
<h2> </h2>
<p><strong>*Some workshops may end earlier, follow links for detailed programs</strong></p>
-->

<!-- Technical details
<h2>Technical details for speakers</h2>
<p>All the rooms will be equipped with</p>
<ul>
  <li>Laptop computer at podium, projector &amp; screen. The PC laptop will have standard Office products &amp; Adobe Reader, with Internet access</li>
  <li>HDMI, VGA connections</li>
  <li>Slide advancer &amp; laser pointer</li>
</ul>
-->

<!-- Workshop lists -->
<h2>1.5 days workshops</h2>
<table style="background-color: #eff8fd; width: 100%;" border="0">
  <tbody>
    <tr><th>Title</th><th>Organizers</th><th>Contact</th><th>Reference</th><th>Location</th></tr>
    <tr>
      <td>
        <a href="http://www.biomed.cas.cz/~kostal/CNS2019-ITW/" target="_blank">
          <strong>Methods of Information Theory in Computational Neuroscience</strong>
        </a>
      </td>
      <td>
        <p>Lubomir Kostal (Chair), Joseph T. Lizier, Viola Priesemann, Justin Dauwels, Taro Toyoizumi, Michael Wibral, Adria Tauste</p>
      </td>
      <td><a href="mailto:kostal@biomed.cas.cz"><span>Lubomir Kostal</span></a></td>
      <td style="text-align: center;"><strong>W1</strong></td>
      <td style="text-align: center;"><a href="#TBD"><strong>TBD</strong></a></td>
    </tr>
    <tr>
      <td>
        <!-- <a href="#" target="_blank"> -->
          <strong>The dynamics and limitations of working memory</strong>
        <!-- </a> -->
      </td>
      <td>
        <p>Zachary Kilpatrick, Albert Compte</p>
      </td>
      <td>
        <a href="mailto:zpkilpat@colorado.edu"><span>Zachary Kilpatrick</span></a>
      </td>
      <td style="text-align: center;"><strong>W2</strong></td>
      <td style="text-align: center;"><a href="#TBD"><strong>TBD</strong></a></td>
    </tr>
    <tr>
      <td>
        <!-- <a href="#" target="_blank"> -->
          <strong>Workshop on generative connectomics and plasticity</strong>
        <!-- </a> -->
      </td>
      <td>
        <p>Alexander Peyser, Wouter Klijn, Sandra Diaz</p>
      </td>
      <td><a href="mailto:a.peyser@fz-juelich.de"><span>Alexander Peyser</span></a></td>
      <td style="text-align: center;"><strong>W3</strong></td>
      <td style="text-align: center;"><a href="#TBD"><strong>TBD</strong></a></td>
    </tr>
    <tr>
      <td>
        <!-- <a href="#" target="_blank"> -->
          <strong>Emergent Phenomena in Macroscopic Neural Networks</strong>
        <!-- </a> -->
      </td>
      <td>
        <p>Joana Cabral, Jérémie Lefebvre</p>
      </td>
      <td><a href="mailto:joana.cabral@psych.ox.ac.uk"><span>Joana Cabral</span></a></td>
      <td style="text-align: center;"><strong>W4</strong></td>
      <td style="text-align: center;"><a href="#TBD"><strong>TBD</strong></a></td>
    </tr>
    <tr>
      <td>
        <!-- <a href="#" target="_blank"> -->
          <strong>New Perspectives in Cortical Dynamics</strong>
        <!-- </a> -->
      </td>
      <td>
        <p>David Hansel, Nicholas Priebe, Carl van Vreeswijk</p>
      </td>
      <td><a href="mailto:david.hansel@parisdescartes.fr"><span>David Hansel</span></a></td>
      <td style="text-align: center;"><strong>W5</strong></td>
      <td style="text-align: center;"><a href="#TBD"><strong>TBD</strong></a></td>
    </tr>
  </tbody>
</table>

<span><a href="#top">Back to top</a></span>
<h2>1 day workshops</h2>
<table style="background-color: #eff8fd; ; width: 100%;" border="0">
  <tbody>
    <tr><th>Title</th><th>Organizers</th><th>Contact</th><th>Reference</th><th>Location</th></tr>
    <tr>
      <td>
        <!-- <a href="#" target="_blank"> -->
          <strong>Neuronal Oscillations: mechanisms, computational properties and functionality</strong>
        <!-- </a> -->
      </td>
      <td>
        <p>Adrien Peyrache, Vassilis Cutsuridis, Horacio G. Rotstein</p>
      </td>
      <td><a href="mailto:adrien.peyrache@mcgill.ca"><span>Adrien Peyrache</span></a></td>
      <td style="text-align: center;"><strong>W6</strong></td>
      <td style="text-align: center;"><a href="#TBD"><strong>TBD</strong></a></td>
    </tr>
    <tr>
      <td>
        <!-- <a href="#" target="_blank"> -->
          <strong>Dynamics of Rhythm Generation: Role of Ionic Pumps, Exchangers, and Ion Homeostasis</strong>
        <!-- </a> -->
      </td>
      <td>
        <p>Ronald Calabrese, Gennady Cymbalyuk</p>
      </td>
      <td><a href="mailto:gcymbalyuk@gsu.edu"><span>Gennady Cymbalyuk</span></a></td>
      <td style="text-align: center;"><strong>W7</strong></td>
      <td style="text-align: center;"><a href="#TBD"><strong>TBD</strong></a></td>
    </tr>
    <tr>
      <td>
        <!-- <a href="#" target="_blank"> -->
          <strong>Modelling sequential biases in perceptual decisions</strong>
        <!-- </a> -->
      </td>
      <td>
        <p>Alexandre Hyafil, Jaime de la Rocha</p>
      </td>
      <td><a href="mailto:alexandre.hyafil@upf.edu"><span>Alexandre Hyafil</span></a></td>
      <td style="text-align: center;"><strong>W8</strong></td>
      <td style="text-align: center;"><a href="#TBD"><strong>TBD</strong></a></td>
    </tr>
    <tr>
      <td>
        <!-- <a href="#" target="_blank"> -->
          <strong>Neural Multiplexed Coding, Coexistence of Multimodal Coding Strategies in Neural Systems</strong>
        <!-- </a> -->
      </td>
      <td>
        <p>Milad Lankarany, Steven A. Prescott</p>
      </td>
      <td><a href="mailto:milad.lankarany@uhnresearch.ca"><span>Milad Lankarany</span></a></td>
      <td style="text-align: center;"><strong>W9</strong></td>
      <td style="text-align: center;"><a href="#TBD"><strong>TBD</strong></a></td>
    </tr>
    <tr>
      <td>
        <a href="http://odor-objects.inf.sussex.ac.uk/wordpress/index.php/2019/02/21/workshop-olfaction-the-complex-sense-at-cns2019-barcelona/" target="_blank">
          <strong>Olfaction - the complex sense</strong>
        </a>
      </td>
      <td>
        <p>Maxim Bazhenov, Mario Pannunzi</p>
      </td>
      <td><a href="mailto:mbazhenov@ucsd.edu"><span>Maxim Bazhenov</span></a></td>
      <td style="text-align: center;"><strong>W10</strong></td>
      <td style="text-align: center;"><a href="#TBD"><strong>TBD</strong></a></td>
    </tr>
    <tr>
      <td>
        <!-- <a href="#" target="_blank"> -->
          <strong>Dopaminergic Signaling Workshop</strong>
        <!-- </a> -->
      </td>
      <td>
        <p>Carmen Canavier</p>
      </td>
      <td><a href="mailto:ccanav@lsuhsc.edu"><span>Carmen Canavier</span></a></td>
      <td style="text-align: center;"><strong>W11</strong></td>
      <td style="text-align: center;"><a href="#TBD"><strong>TBD</strong></a></td>
    </tr>
    <tr>
      <td>
        <!-- <a href="#" target="_blank"> -->
          <strong>Diversity and function of interneurons</strong>
        <!-- </a> -->
      </td>
      <td>
        <p>Luis Garcia del Molino, Jorge Jaramillo, Jorge Mejias</p>
      </td>
      <td><a href="mailto:garciadelmolino@gmail.com"><span>Luis Garcia del Molino</span></a></td>
      <td style="text-align: center;"><strong>W12</strong></td>
      <td style="text-align: center;"><a href="#TBD"><strong>TBD</strong></a></td>
    </tr>
    <tr>
      <td>
        <!-- <a href="#" target="_blank"> -->
          <strong>Integrative Theories of Cortical Function</strong>
        <!-- </a> -->
      </td>
      <td>
        <p>Hamish Meffin, Anthony Burkitt, Ali Almasi</p>
      </td>
      <td><a href="mailto:hmeffin@unimelb.edu.au"><span>Hamish Meffin</span></a></td>
      <td style="text-align: center;"><strong>W13</strong></td>
      <td style="text-align: center;"><a href="#TBD"><strong>TBD</strong></a></td>
    </tr>
    <tr>
      <td>
        <!-- <a href="#" target="_blank"> -->
          <strong>Graph modeling of macroscopic brain activity</strong>
        <!-- </a> -->
      </td>
      <td>
        <p>Ashish Raj, Eva Palacios</p>
      </td>
      <td><a href="mailto:Ashish.Raj@ucsf.edu"><span>Ashish Raj</span></a></td>
      <td style="text-align: center;"><strong>W14</strong></td>
      <td style="text-align: center;"><a href="#TBD"><strong>TBD</strong></a></td>
    </tr>
    <tr>
      <td>
        <!-- <a href="#" target="_blank"> -->
          <strong>Manifolds for neural computation</strong>
        <!-- </a> -->
      </td>
      <td>
        <p>Matthew G. Perich, Juan A. Gallego, Sara A. Solla</p>
      </td>
      <td><a href="mailto:mperich@gmail.com"><span>Matthew G. Perich</span></a></td>
      <td style="text-align: center;"><strong>W15</strong></td>
      <td style="text-align: center;"><a href="#TBD"><strong>TBD</strong></a></td>
    </tr>
    <tr>
      <td>
        <!-- <a href="#" target="_blank"> -->
          <strong>Functional network dynamics: Recent mathematical perspectives</strong>
        <!-- </a> -->
      </td>
      <td>
        <p>Matthieu Gilson, David Dahmen, Moritz Helias</p>
      </td>
      <td><a href="mailto:matthieu.gilson@upf.edu"><span>Matthieu Gilson</span></a></td>
      <td style="text-align: center;"><strong>W16</strong></td>
      <td style="text-align: center;"><a href="#TBD"><strong>TBD</strong></a></td>
    </tr>
    <tr>
      <td>
        <!-- <a href="#" target="_blank"> -->
          <strong>Computational modelling of brain networks in Electroencephalography</strong>
        <!-- </a> -->
      </td>
      <td>
        <p>Benedetta Franceschiello, Katharina Glomb</p>
      </td>
      <td><a href="mailto:katharina.glomb@gmail.com"><span>Katharina Glomb</span></a></td>
      <td style="text-align: center;"><strong>W17</strong></td>
      <td style="text-align: center;"><a href="#TBD"><strong>TBD</strong></a></td>
    </tr>
    <tr>
      <td>
        <!-- <a href="#" target="_blank"> -->
          <strong>VirtualBrainCloud</strong>
        <!-- </a> -->
      </td>
      <td>
        <p>Petra Ritter, Julie Courtiol</p>
      </td>
      <td><a href="mailto:petra.ritter@charite.de"><span>Petra Ritter</span></a></td>
      <td style="text-align: center;"><strong>W18</strong></td>
      <td style="text-align: center;"><a href="#TBD"><strong>TBD</strong></a></td>
    </tr>
    <tr>
      <td>
        <!-- <a href="#" target="_blank"> -->
          <strong>Model-Driven Closed-Loop Technologies for Neuroscience Research</strong>
        <!-- </a> -->
      </td>
      <td>
        <p>Pablo Varona, Thomas Nowotny</p>
      </td>
      <td><a href="mailto:pablo.varona@uam.es"><span>Pablo Varona</span></a></td>
      <td style="text-align: center;"><strong>W19</strong></td>
      <td style="text-align: center;"><a href="#TBD"><strong>TBD</strong></a></td>
    </tr>
  </tbody>
</table>
<span><a href="#top">Back to top</a></span>

<h2>Half day workshops</h2>
<table style="background-color: #eff8fd; ; width: 100%;" border="0">
  <tbody>
    <tr><th>Title</th><th>Organizers</th><th>Contact</th><th>Reference</th><th>Location</th></tr>
    <tr>
      <td>
        <a href="http://www.sng.org.au/cns-2019-workshop/" target="_blank">
          <strong>Phase Transitions in Brain Networks</strong>
        </a>
      </td>
      <td>
        <p>Leonardo Gollo, Linda Douw</p>
      </td>
      <td><a href="mailto:leonardo.gollo@qimr.edu.au"><span>Leonardo Gollo</span></a></td>
      <td style="text-align: center;"><strong>W20</strong></td>
      <td style="text-align: center;"><a href="#TBD"><strong>TBD</strong></a></td>
    </tr>
    <tr>
      <td>
        <!-- <a href="#" target="_blank"> -->
          <strong>Modeling astrocyte functions: From ion channels to calcium dynamics and beyond</strong>
        <!-- </a> -->
      </td>
      <td>
        <p>Marja-Leena Linne, Predrag Janjic</p>
      </td>
      <td><a href="mailto:marja-leena.linne@tuni.fi"><span>Marja-Leena Linne</span></a></td>
      <td style="text-align: center;"><strong>W21</strong></td>
      <td style="text-align: center;"><a href="#TBD"><strong>TBD</strong></a></td>
    </tr>
    <tr>
      <td>
        <!-- <a href="#" target="_blank"> -->
          <strong>Student and Postdoc Career Development Workshop</strong>
        <!-- </a> -->
      </td>
      <td>
        <p>Ankur Sinha, Anca Doloc-Mihu, Sharmila Venugopal</p>
      </td>
      <td><a href="mailto:a.sinha2@herts.ac.uk"><span>Ankur Sinha</span></a></td>
      <td style="text-align: center;"><strong>W22</strong></td>
      <td style="text-align: center;"><a href="#TBD"><strong>TBD</strong></a></td>
    </tr>
  </tbody>
</table>
<span><a href="#top">Back to top</a></span>
