<!--
  Changelog

  * 2019 May 13
  - Add information on subscribing to the calendar

  * 2019 Mar 01
  - Abstract submission extension is now live

  * 2019 Feb 28 Ankur Sinha
  - Add bits for abstract submission extension

--> <!-- embedded google calendar-->
<h1>CNS*2019 Barcelona, Spain: Calendar</h1>
<p>The <a href="/cns-2019-quick">CNS*2019</a> event calendar can be viewed below. Please click each event for further information. The calendar is still being updated with new information. Please check back regularly.</p>
<p>The calendar above can also be viewed here in a separate page: <a href="https://tinyurl.com/cns-2019-calendar" target="_blank">https://tinyurl.com/cns-2019-calendar</a>. Google Calendar users can add this calendar to their personal accounts by clicking the "+" sign in its bottom right corner. They can also copy individual events to their personal accounts by clicking on an event, and clicking "Copy to my calendar". Users of other calendar services may subscribe to this calendar by using <a href="https://calendar.google.com/calendar/ical/cnsorg.org_eq9d13l4lcc06kp66ca26pl47o%40group.calendar.google.com/public/basic.ics" target="_blank">this link to access the ICS file</a>. Once subscribed, any updates made to this calendar should also reflect on personal devices.</p>
<p><iframe frameborder="0" height="600" scrolling="no" src="https://calendar.google.com/calendar/b/1/embed?height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=Europe%2FMadrid&amp;src=Y25zb3JnLm9yZ19lcTlkMTNsNGxjYzA2a3A2NmNhMjZwbDQ3b0Bncm91cC5jYWxlbmRhci5nb29nbGUuY29t&amp;color=%23039BE5&amp;showTitle=0&amp;mode=AGENDA&amp;showCalendars=1&amp;showTabs=1&amp;showDate=0&amp;showNav=1" style="font-size: 15px; border-width: 0px;" width="100%"></iframe></p>
