<!--
  Changelog

  * 2019 Mar 01
  - Abstract submission extension is now live

  * 2019 Feb 28 Ankur Sinha
  - Add bits for abstract submission extension
-->
<h1>CNS*2019 Barcelona, Spain: Calendar</h1>
<table class="grid-layout" style="width: 100%; background-color: #eff8fd;" cellspacing="1" cellpadding="4"><colgroup><col width="52*" /> <col width="204*" /> </colgroup>
<tbody>
<tr>
<td>
<p align="left"><strong>8 Jan 2019</strong></p>
</td>
<td>
<p><strong><span style="color: #993300;">Registration opens</span></strong></p>
</td>
</tr>
<tr>
<td>
<p align="left"><strong>9 Jan 2019</strong></p>
</td>
<td>
<p><span style="color: #993300;"><strong>Abstract submission open</strong></span></p>
</td>
</tr>
<tr>
<td>
<p align="left"><strong>27 Feb 2019</strong></p>
</td>
<td>
<p>Latest safe date for Member applications before abstract submission closes</p>
</td>
</tr>
<tr>
<td>
<p align="left"><strong>4 Mar 2019</strong></p>
</td>
<td>
<p>Travel award applications are due</p>
</td>
</tr>
<tr>
<td>
<p align="left"><span style="color: #993300;"><strong>11 March 2019</strong></span></p>
</td>
<td><span style="color: #993300;">Extended abstract submission deadline (11:00 pm Pacific time USA). </span></td>
</tr>
<tr>
<td>
<p align="left"><strong>10 April 2019</strong></p>
</td>
<td>
<p>Notification of Abstract acceptance</p>
</td>
</tr>
<tr>
<td>
<p align="left"><strong>1 May 2019</strong></p>
</td>
<td>
<p>Notification of oral/poster selection</p>
</td>
</tr>
<tr>
<td>
<p align="left"><strong>7 May 2019</strong></p>
</td>
<td>
<p><span style="color: #993300;"><strong>Early registration closes for non-members (11:00 pm Pacific time USA)</strong></span></p>
</td>
</tr>
<tr>
<td>
<p align="left"><strong>8 May 2019</strong></p>
</td>
<td>
<p><span style="color: #993300;">Travel award notification</span></p>
</td>
</tr>
<tr>
<td>
<p align="left"><strong>9 May 2019</strong></p>
</td>
<td><strong>Latest safe date for Membership applications before early registration closes for members</strong></td>
</tr>
<tr>
<td>
<p align="left"><strong>15 May 2019</strong></p>
</td>
<td>
<p><span style="color: #993300;"><strong>Early registration closes for members (11:00 pm Pacific time USA)</strong></span></p>
</td>
</tr>
<tr>
<td>
<p align="left"><strong><strong>13 July 2019</strong></strong></p>
</td>
<td>
<p><strong>Tutorials, <span style="color: #993300;">Keynote </span>Talk and Reception </strong>(see program)</p>
</td>
</tr>
<tr>
<td>
<p align="left"><strong><strong>14 July 2019</strong></strong></p>
</td>
<td>
<p><strong>Main Meeting <span> </span></strong>(see program) </p>
</td>
</tr>
<tr>
<td>
<p align="left"><strong>15 July 2019</strong></p>
</td>
<td>
<p><strong>Main Meeting</strong></p>
</td>
</tr>
<tr>
<td>
<p align="left"><strong>16 July 2019</strong></p>
</td>
<td>
<p><strong>Mixed day: Keynote, workshop session and posters</strong></p>
</td>
</tr>
<tr>
<td>
<p align="left"><strong>17 July 2019</strong></p>
</td>
<td>
<p><strong>Workshops</strong> (see program)  </p>
</td>
</tr>
</tbody>
</table>
<!-- embedded google calendar
<iframe frameborder="0" height="600" scrolling="no" src="https://calendar.google.com/calendar/embed?src=cnsorg.org_eq9d13l4lcc06kp66ca26pl47o%40group.calendar.google.com&amp;ctz=Europe%2FLondon&amp;mode=AGENDA" style="border: 0;" width="100%"></iframe>
-->
