<!--

Do not make changes to this page directly on Memberclicks. 

Update the version at https://github.com/OCNS/Website/blob/master/backup/board.html 
and cut & paste here.

*** Changelog

* 201903221210 Ankur Sinha
- Update to specify Cecilia's role.

* 201901281000: Ankur Sinha
- Rearrange list in alphabetical order

* 201901271643: Ankur Sinha
- add Ankur to board as Web master.
- update for Volker


-->
<h1>Board of Directors</h1>
<p>The current board of directors consists of around 20 <strong>elected </strong>and<strong> ex officio </strong>members<strong>. </strong>According to the <a href="ocns-bylaws-2011">Bylaws</a>, <a href="election-procedures">elections</a> are held to replace <strong>three or four</strong> outgoing directors <strong>each year</strong>. The board elects its officers.</p>
<h2>2019 Board of Directors</h2>
<table class="grid-layout" style="width: 100%; background-color: #eff8fd;" border="0" frame="void">
<tbody>
<tr>
<td> <img style="font-size: 15px;" src="http://www.cnsorg.org/assets/images/Board_member_pics/volker.jpg" alt="" width="80" height="100" /></td>
<td>
<p><strong><a href="http://vuh-la-risprt.herts.ac.uk/portal/en/persons/volker-steuber(43b1e474-9894-40d4-8eed-470dd7a7f29e).html" target="_blank">Volker Steuber</a></strong></p>
<address><a href="http://biocomputation.herts.ac.uk" target="_blank">UH Biocomputation</a></address><address>University of Hertfordshire, UK</address><address>2019-2020</address><address><a href="index.php?option=com_content&amp;view=article&amp;catid=20:site-content&amp;id=44:president"><strong>President</strong></a></address></td>
<td><img src="http://www.cnsorg.org/assets/images/Board_member_pics/sharon.jpg" alt="" width="80" height="100" /></td>
<td>
<p><strong><a href="http://math.asu.edu/~crook" target="_blank">Sharon M. Crook</a></strong></p>
<address>Arizona State University</address><address>Tempe, USA</address><address>2016-2019</address><address><strong>Vice-President and Secretary</strong></address></td>
</tr>
<tr>
<td><img style="font-size: 15px;" src="http://www.cnsorg.org/assets/images/Board_member_pics/astrid.jpg" alt="" width="80" height="100" /></td>
<td>
<p><strong><a href="http://www.biology.emory.edu/index.cfm?faculty=39" target="_blank">Astrid Prinz</a></strong></p>
<address><a href="http://www.biology.emory.edu/research/Prinz/" target="_blank">Emory University</a></address><address>Atlanta, USA</address><address>2015-2018</address><address><strong>Ex President</strong><strong><br /></strong></address></td>
<td> <img src="https://ocns.memberclicks.net/mcdatafiles/receiptattach/ocns/11432368/8004027/Rubchinsky.jpg" alt="" width="80" height="76" /></td>
<td>
<p><strong><a href="http://www.math.iupui.edu/~leo" target="_blank">Leonid Rubchinsky</a></strong></p>
<address>Indiana University</address><address>Indianapolis, United States</address><address>2017-2020</address><address><strong>Treasurer</strong></address></td>
</tr>
<tr>
<td> </td>
<td>
<p> </p>
</td>
</tr>
<tr>
<td> </td>
<td> </td>
<td> </td>
<td> </td>
</tr>
<tr>
<td><img src="https://ocns.memberclicks.net/assets/images/PC_members/bojak.png" alt="" width="80" height="100" /></td>
<td>
<p><strong><a href="https://www.reading.ac.uk/sse/about/staff/i-bojak.aspx" target="_blank">Ingo Bojak</a></strong></p>
<address>University of Reading</address><address>UK</address><address><strong>Publications Chair</strong></address></td>
<td> <img src="https://ocns.memberclicks.net/mcdatafiles/receiptattach/ocns/13381853/9239224/Burkitt_Portrait_2018_Web.jpg" alt="" width="80" height="108" /></td>
<td>
<p><strong style="font-size: 15px;"><a href="http://www.findanexpert.unimelb.edu.au/display/person5669" target="_blank">Anthony Burkitt</a></strong></p>
<p><strong><a href="http://www.medicine.mcgill.ca/physio/chacronlab" target="_blank"></a></strong></p>
<address><span style="font-size: 15px; font-style: normal;">The University Of Melbourne</span></address><address>Parkville, Australia</address><address><span>2019-2021</span></address>
<p><strong><a href="http://www.medicine.mcgill.ca/physio/chacronlab" target="_blank"></a></strong></p>
</td>
</tr>
<tr>
<td> <img src="https://ocns.memberclicks.net/mcdatafiles/receiptattach/ocns/11395967/8004027/pic_square.jpg" alt="" width="80" height="80" /></td>
<td>
<p><strong><a href="http://www.treestoolbox.org/hermann/" target="_blank">Hermann Cuntz</a></strong></p>
<address>ESI and FIAS</address><address>Frankfurt/Main, Germany</address><address>2017-2019</address><address><strong>Tutorials Organizer</strong></address></td>
<td> <img src="https://ocns.memberclicks.net/mcdatafiles/receiptattach/ocns/13437029/9239224/Doloc-Mihu_Anca.jpg" alt="" width="80" height="80" /></td>
<td>
<p><strong><a href="http://www.adolocmihu.me/" target="_blank">Anca Doloc-Mihu</a></strong></p>
<address><span style="font-size: 15px; font-style: normal;">Georgia Gwinnett College</span></address><address>Lawrenceville, United States</address><address><span>2019-2021</span></address></td>
</tr>
<tr>
<td><img src="https://ocns.memberclicks.net/mcdatafiles/receiptattach/ocns/13413912/9239224/Boris-picture.jpg" alt="" width="80" height="107" /></td>
<td>
<p><strong><a href="http://www.gnt.ens.fr/" target="_blank">Boris Gutkin</a></strong></p>
<address><span style="font-size: 15px; font-style: normal;">Ecole Normale Superiuere</span></address><address>Paris, France</address><address>2019-2021</address></td>
<td><img style="font-size: 15px;" src="https://ocns.memberclicks.net/assets/images/Board_member_pics/Jedlicka_Peter.jpg" alt="" width="100" height="88" /></td>
<td>
<p><strong><a href="https://sites.google.com/site/peterjedlicka/" target="_blank">Peter Jedlicka</a></strong></p>
<address>Goethe University Frankfurt</address><address>Frankfurt, Germany</address><address><span>2018-2020</span></address><address><span><strong>Member Approval Chair</strong></span></address></td>
</tr>
<tr>
<td> <img style="font-size: 15px;" src="https://ocns.memberclicks.net/mcdatafiles/receiptattach/ocns/11484113/8004027/IMG_3542_crop.jpg" alt="" width="80" height="78" /></td>
<td>
<p><strong><a href="https://www.researchgate.net/profile/Joanna_Jedrzejewska-Szmek/publications" target="_blank">Joanna Jedrzejewska-Szmek</a></strong></p>
<address>University of Warsaw</address><address>Warsaw, Poland</address><address>2017-2019</address><address><strong>Social Media Chair</strong></address></td>
<td> <img style="font-size: 15px;" src="https://ocns.memberclicks.net/mcdatafiles/receiptattach/ocns/13412537/9239224/IMG_3326_cropped_Slack.jpg" alt="" width="80" height="80" /><br /><br /></td>
<td>
<p><strong><a href="http://unige.ch/dpnc/en/groups/renaud-jolivet/home/" target="_blank">Renaud Jolivet</a></strong></p>
<address><span>University Of Geneva</span></address><address>Geneva, Switzerland</address><address>2019-2021</address></td>
</tr>
<tr>
<td><img src="https://ocns.memberclicks.net/assets/images/Board_member_pics/bill17jun06A.jpg" alt="" width="100" height="107" /></td>
<td>
<p><strong><a href="http://neurosimlab.org/" target="_blank">William Lytton</a></strong></p>
<address>Suny Downstate</address><address>Brooklyn, United States</address><address><span>2018-2020</span></address><address><strong>Sponsorship Chair</strong></address></td>
<td><img style="font-size: 15px;" src="/assets/images/PC_members/Thomas.png" alt="" width="78" height="100" /></td>
<td>
<p><a href="http://www.sussex.ac.uk/profiles/206151"><strong>Thomas Nowotny</strong></a></p>
<address>University of Sussex</address><address>UK</address><address>2017-2019</address><address><strong>Program Chair</strong></address></td>
</tr>
<tr>
<td> <img src="https://ocns.memberclicks.net/mcdatafiles/receiptattach/ocns/13436306/9239224/Foto_Seattle2.jpg" alt="" width="100" height="75" /></td>
<td>
<p><strong><a href="http://buscatextual.cnpq.br/buscatextual/visualizacv.do?id=K4559044P9" target="_blank">Cecilia Romaro</a></strong></p>
<address><span style="font-size: 15px; font-style: normal;">University Of São Paulo</span></address><address>Ribeirao Preto-Sp, Brazil</address><address>2019-2021</address><address><strong>Registration</strong></address></td>
<td> <img src="/assets/images/Board_member_pics/roxin.jpg" alt="" width="80" height="80" /></td>
<td>
<p><strong><a href="https://sites.google.com/site/alexanderroxin/home" target="_blank">Alex Roxin</a></strong></p>
<address><span>Centre de Recerca Matemàtica</span></address><address>Barcelona, Spain</address><address><span>2019</span></address><address><strong>Local Organizer</strong></address></td>
</tr>
<tr>
<td><img src="https://ocns.memberclicks.net/assets/images/Board_member_pics/AS_2019.jpg" alt="" width="100" height="107" /></td>
<td>
<p><strong><a href="https://ankursinha.in" target="_blank">Ankur Sinha</a></strong></p>
<address><a href="http://biocomputation.herts.ac.uk" target="_blank">UH Biocomputation</a></address><address>University of Hertfordshire, UK</address><address><span>2019-2020</span></address><address><strong>Website Administrator</strong></address></td>
<td> <img style="font-size: 15px;" src="https://ocns.memberclicks.net/mcdatafiles/receiptattach/ocns/11399749/8004027/t_toyoizumi.jpg" alt="" width="83" height="108" /></td>
<td>
<p><strong><a href="http://toyoizumilab.brain.riken.jp/taro/index.html" target="_blank">Taro Toyoizumi</a></strong></p>
<address><span>RIKEN Brain Science Institute</span></address><address>Saitama, Japan</address><address>2017-2019</address><address><strong>Travel awards</strong></address></td>
</tr>
<tr>
<td> <img style="font-size: 15px;" src="https://ocns.memberclicks.net/assets/images/Board_member_pics/SV.jpg" alt="" width="100" height="82" /></td>
<td>
<p><strong><a href="http://www.ibp.ucla.edu/physcifacultyindiv.php?FacultyKey=11534" target="_blank">Sharmila Venugopal</a></strong></p>
<address>University Of California Los Angeles</address><address>Long Beach, United States</address><address><span>2018-2020</span></address><address><strong>Education and Training</strong></address></td>
<td><img src="https://ocns.memberclicks.net/assets/images/Board_member_pics/MZ_OCNS_2017.jpg" alt="" width="100" height="107" /></td>
<td>
<p><strong><a href="http://www.biomed.cas.cz/~zapotocky" target="_blank">Martin Zapotocky</a></strong></p>
<address>Czech Academy of Sciences<br />Prague, Czech Republic</address><address><span>2018-2020</span></address><address><strong>Workshops organizer</strong></address></td>
</tr>
<tr>
<td> <img style="font-size: 15px;" src="/assets/images/Board_member_pics/pierre.jpg" alt="" width="80" /></td>
<td>
<p><strong><strong><a href="http://www.yger.net" target="_blank">Pierre Yger</a></strong></strong></p>
<address>Institut de la Vision</address><address>Paris, France</address><address>2016-2019</address><address><strong>Website Administrator, Registration</strong></address></td>
<td> </td>
<td> </td>
</tr>
</tbody>
</table>
<p> </p>
<h2>Past Boards of Directors</h2>
<table style="height: 12px; width: 50%;" border="0">
<tbody>
<tr>
<td style="width: 70%;"><span>See the past Board of Director in year </span></td>
<td style="width: 20%;"><select name="forma" onchange="this.options[this.selectedIndex].value &amp;&amp; (window.location = this.options[this.selectedIndex].value);">
<option value="">Pick a year:</option>
<option value="/board-of-directors-2018">2018</option>
<option value="/board-of-directors-2017">2017</option>
<option value="/board-of-directors-2016">2016</option>
<option value="/board-of-directors-2015">2015</option>
<option value="/board-of-directors-2014">2014</option>
<option value="/board-of-directors-2013">2013</option>
<option value="/board-of-directors-2012">2012</option>
<option value="/board-of-directors-2011">2011</option>
<option value="/board-of-directors-2010">2010</option>
<option value="/board-of-directors-2009">2009</option>
<option value="/board-of-directors-2008">2008</option>
<option value="/board-of-directors-2007">2007</option>
<option value="/board-of-directors-2006">2006</option>
<option value="/board-of-directors-2005">2005</option>
<option value="/board-of-directors-2004">2004</option>
<option value="/board-of-directors-2003">2003</option>
</select></td>
</tr>
</tbody>
</table>
